/* src/index.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App {
  text-align: center;
}

.NavBar {
  margin-bottom: 1rem;
}

.NavBar a {
  margin-right: 1rem;
  text-decoration: none;
  color: inherit;
}

.NavBar a.active {
  font-weight: bold;
  color: yellow;
}

.GridItem {
  padding: 1rem;
}

.GridItem button {
  text-transform: none;
  font-size: 1rem;
}